/*
Theme Name: Flatsome
Theme URI: http://flatsome.uxthemes.com/
Author: UX-Themes
Author URI: http://www.uxthemes.com/
Description: Flat Responsive WooCommerce theme
Version: 1.9.9
License:
License URI:

*/

@import url("css/foundation.css?v=1.9.9");
/* @import url("css/agile-bootstrap.css"); */
/*************** ADD CUSTOM CSS HERE  ***************/

@font-face{
	font-family:'Lato';
	src:url('fonts/lato-light-webfont.eot');
	src:url('fonts/lato-bold-webfont.ttf') format('embedded-opentype');
}
.aspk_nav_li{
	display: inline-block;	
}
.agile_nav_menu ul li a{
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left:1em;
  font-family:"Lato",Arial,sans-serif;
}
.agile_nav_menu ul li a:hover{
	color: #000; 
	border-bottom:4px solid black;
}
.nav-dropdown{
	width:30em;
}
.dark .social-icons .icon{
	background: gray;
}
.aspk_home_page_bc{
	background: url(images/bg.jpg) center center repeat;
}
 a.logo_image_aspk {
    /* background: url(images/raja.jpg) no-repeat; 
	display: block;
	height: 118px;
	margin: 0 auto 0px;
	text-indent: -50000px;
	width: 750px; */
}
form#yith-ajaxsearchform > div > input{
	color:#000 !important;
	font-size:18px !important;
	border:1px solid #4C4C4C !important;
	font-weight:300 solid #4C4C4C !important;
	height:40px !important;
}
a.button.secondary, .button.secondary{
	color:black;
	border:1px solid #4C4C4C !important;
	margin-left:5px;
	background-color:white !important;
	min-height:40px !important;
	width:6em;
}
a.button.secondary, .button.secondary:hover {
  background: black !important;
}
ul.header-nav a.nav-top-link:hover{
	color: #000 !important; 
	border-bottom:4px solid black !important;
}
#masthead .left-links > ul{
	padding-bottom: 18px;
	margin: -6px 110px 0px;
}
@media only screen and (max-width: 48em) {
/*************** ADD CUSTOM MOBILE CSS HERE  ***************/


}